* {
	margin: 0;
	padding: 0;
}

.p1{
	color: beige ;
	background-color: darkcyan;
	text-align: center;
	padding: 100px;
	font-size: 17px;
	font-weight: bold;
}

h1{
	color: green;
	text-align: center;
}